//! Main colors 
$color-1: #dbedf7; //bg of header
$color-2: #6e6ecd; //color of header's text
$color-3: #a62424; //color of header's btn
$color-4: #5e5fb1; //purple bg color
$color-5: #3d3e3f; //header's text color

.color-1{color: #dbedf7;}
.color-2{color: #6e6ecd;}
.color-3{color: #a62424;}
.color-4{color: #5e5fb1;}
.color-5{color: #3d3e3f;}