
.adabtable-container{padding-left: .3rem; padding-right: .3rem;}

@media only screen and (min-width: 400px){
    .adabtable-container{padding-left: .5rem; padding-right: .5rem;}
}
@media only screen and (min-width: 768px){
    .adabtable-container{padding-left: 1.5rem; padding-right: 1.5rem;}
}
@media only screen and (min-width: 992px){
    .adabtable-container{padding-left: 2rem; padding-right: 2rem;}
}
@media only screen and (min-width: 1200px){
    .adabtable-container{padding-left: 3rem; padding-right: 3rem;}
}


.row{
    display: flex;
    flex-wrap: wrap;
}

/*! For phones */
.col-0 {display: none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*! For phones and small tablets: */
@media only screen and (min-width: 400px) {
  
  .col-400-0 {display: none;}
  .col-400-1 {width: 8.33%; display: block;}
  .col-400-2 {width: 16.66%; display: block;}
  .col-400-3 {width: 25%; display: block;}
  .col-400-4 {width: 33.33%; display: block;}
  .col-400-5 {width: 41.66%; display: block;}
  .col-400-6 {width: 50%; display: block;}
  .col-400-7 {width: 58.33%; display: block;}
  .col-400-8 {width: 66.66%; display: block;}
  .col-400-9 {width: 75%; display: block;}
  .col-400-10 {width: 83.33%; display: block;}
  .col-400-11 {width: 91.66%; display: block;}
  .col-400-12 {width: 100%; display: block;}
} 

/*! Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .col-768-0 {display: none;}
  .col-768-1 {width: 8.33%; display: block;}
  .col-768-2 {width: 16.66%; display: block;}
  .col-768-3 {width: 25%; display: block;}
  .col-768-4 {width: 33.33%; display: block;}
  .col-768-5 {width: 41.66%; display: block;}
  .col-768-6 {width: 50%; display: block;}
  .col-768-7 {width: 58.33%; display: block;}
  .col-768-8 {width: 66.66%; display: block;}
  .col-768-9 {width: 75%; display: block;}
  .col-768-10 {width: 83.33%; display: block;}
  .col-768-11 {width: 91.66%; display: block;}
  .col-768-12 {width: 100%; display: block;}
} 

/*! Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .col-992-0 {display: none;}
  .col-992-1 {width: 8.33%; display: block;}
  .col-992-2 {width: 16.66%; display: block;}
  .col-992-3 {width: 25%; display: block;}
  .col-992-4 {width: 33.33%; display: block;}
  .col-992-5 {width: 41.66%; display: block;}
  .col-992-6 {width: 50%; display: block;}
  .col-992-7 {width: 58.33%; display: block;}
  .col-992-8 {width: 66.66%; display: block;}
  .col-992-9 {width: 75%; display: block;}
  .col-992-10 {width: 83.33%; display: block;}
  .col-992-11 {width: 91.66%; display: block;}
  .col-992-12 {width: 100%; display: block;}
} 

/*! Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .col-1200-0 {display: none;}
  .col-1200-1 {width: 8.33%; display: block;}
  .col-1200-2 {width: 16.66%; display: block;}
  .col-1200-3 {width: 25%; display: block;}
  .col-1200-4 {width: 33.33%; display: block;}
  .col-1200-5 {width: 41.66%; display: block;}
  .col-1200-6 {width: 50%; display: block;}
  .col-1200-7 {width: 58.33%; display: block;}
  .col-1200-8 {width: 66.66%; display: block;}
  .col-1200-9 {width: 75%; display: block;}
  .col-1200-10 {width: 83.33%; display: block;}
  .col-1200-11 {width: 91.66%; display: block;}
  .col-1200-12 {width: 100%; display: block;}
}